@charset "UTF-8";

/* What is a project */
.whatisaproject-wrapper{
  background-color: #F5F5F5;
}

/* 画像のHoverどきにCaption表示 */
figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  width:100%;
  height:160.55px;
}
figcaption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  text-align: center;
  display: table;
}
figcaption div{
  color: white;
  display: table-cell;
  vertical-align: middle;
}
figure:hover figcaption {
  opacity: 1;
}

/* Projects ongoingについて */
.projects-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  margin:80px auto 0 auto;
}
.project-example{
  width:225px;
  padding:0 8px;
  text-align: left;
}
.project-name{
  text-align: left;
  padding: 8px 0;
  margin: 0;
  font-family: Arial, Helvetica, "sans-serif";
  font-size: 16px;
  color: #707070;
}
.project-name a{
  color: #707070;
}
.project-discription{
  text-align: left;
  padding:0;
  margin-top: 0;
  margin-bottom:40px;
  font-family: "游ゴシック","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 10px;
  color:#444444;
}

/* Past Project */
.pastprojects-wrapper{
  background-color: #F5F5F5;
}

/* Modal */
.project-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display:none;
}
.modal {
  overflow-y: scroll;
  position: fixed;
  top: 10%;
  bottom: 10%;
  right: 0;
  left: 0;
  width: 40%;
  min-width: 310px;
  height: auto;
  margin: auto;

  text-align: center;
  background-color: #ffffff;
  box-sizing: border-box; border-radius: 10px;
}
.modal img{
  width:100%;
  height: auto;
  object-fit: cover;
  box-sizing: border-box;
  border-style:solid; border-width:0 0 1.5px 0; border-color: #444444; border-radius:10px 10px 0 0;
}
.modal-contents{
  padding:4.7% 7.9%;
  box-sizing: border-box;
}
.modal-content-0{
  margin:0 0 15px 0;
}
.modal-content-1, .modal-content-2{
  margin: 15px 0;
}
.modal-title{
  font-family: Arial, Helvetica, "sans-serif";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top:0;
}
.modal-title a{
  color: inherit;
}
.modal-sub-title-1{
  font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  margin: 15px 0;
  text-align: center;
}
.modal-sub-title-2{
  font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-weight: bold;
  color: #444444;
  text-align: left;
  margin-bottom: 16px;
}
@media(max-width:770px){
  .modal-sub-title-1{
    font-size: 11px;
  }
  .modal-sub-title-2{
    font-size: 13.75px;
  }
}
@media(min-width:770px){
  .modal-sub-title-1{
    font-size: 16px;
  }
  .modal-sub-title-2{
    font-size: 20px;
  }
}
